<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name="com.stameni.com.moviebrowser.common.baseClasses.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.stameni.com.moviebrowser.screens.mylist.watched.WatchedActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.stameni.com.moviebrowser.screens.mylist.toWatch.ToWatchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.stameni.com.moviebrowser.screens.settings.about.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.stameni.com.moviebrowser.screens.splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stameni.com.moviebrowser.screens.singlePerson.SinglePersonActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stameni.com.moviebrowser.screens.singleMovie.SingleMovieActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stameni.com.moviebrowser.screens.news.NewsWebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stameni.com.moviebrowser.screens.discover.genre.moviegridlist.MovieGridActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.stameni.com.moviebrowser.screens.discover.topLists.movielist.MovieListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_movie_list"
            android:parentActivityName="com.stameni.com.moviebrowser.screens.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stameni.com.moviebrowser.screens.MainActivity" />
        </activity>
        <activity
            android:name="com.stameni.com.moviebrowser.screens.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>